<div style="text-align:center;">
  <h1>Top Rated Movies</h1>
  <br>
  <br>
  <%= button_to 'Discover Page', discover_path, method: :get %>
  <br>
  <br>
  <table style="margin:auto;">
    <tr>
      <td><b>Title</b></td>
      <td><b>Rating</b></td>
    </tr>
    <% @movies.each do |movie| %>
    <tr>
      <td>
        <%= link_to movie.title, "/movies/#{movie.id}" %>
      </td>
      <td>
        <%= movie.vote_average %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
